td {
  width: 150px;
  height: 150px;
  border-collapse: collapse;
  border: 2px solid grey;
  margin: auto;
  font-size: 100px;
}

tr {
  margin: auto;
}

#main-container {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
}

#game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
