* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

td {
  width: 150px;
  height: 150px;
  border-collapse: collapse;
  border: 2px solid grey;
  margin: auto;
  font-size: 100px;
}

tr {
  margin: auto;
}

#main-container {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
}

#game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

#player-tour {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 50%;
  margin: 20px;
}

#player1container {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player2container {
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  background-color: white;
  border: none;
  text-decoration: none;
  color: black;
  font-size: 40px;
}

#btns-container {
  position: absolute;
  right: 50%;
  top: 60%;
  width: 700px;
}

button {
  font-size: 36px;
  border: 2px solid purple;
  background-color: teal;
}
